%h2{ style: "text-align: center;" } Регистрация
.sign-up-form
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "clients/shared/error_messages", resource: resource
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password, 'Пароль'
      - if @minimum_password_length
        %em
          (Минимальное кол-во символов #{@minimum_password_length})
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation, "Повторить пароль"
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :fio, 'ФИО'
      = f.text_field :fio
    .field
      = f.label :birthday, 'Дата рождения'
      = f.date_field :birthday
    .field
      = f.label :adress, 'Адрес проживания'
      = f.text_field :adress
    .field
      = f.label :phone_number, 'Номер мобильного телефона'
      = f.text_field :phone_number
    .actions
      = f.submit "Зарегистрироваться"
%p{ style: "text-align: center;" }= render "clients/shared/links"
